body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    background-color: #DFD0B8;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    padding: 20px 0;
    color: #153448;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
}

.form-wrapper {
    padding: 20px;
}

.form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-toggle button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form-toggle button.active {
    background-color: #153448;
    color: #fff;
}

form {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #153448;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition
}