body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0;
    padding: 0;
    background-color: #153448;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #3C5B6F;
    color: #fff;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
}

main {
    padding: 50px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}


