body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    
}


header {
    text-align: center;
    padding: 90px 0;
    background-image: url('pic1.jpg'); 
    background-color: #153448; 
    color: #4e3000;  /* Dark gray text */
}


h1 {
    font-family: 'Merriweather', serif;
    font-size: 7em;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    color: #153448;  /* Dark gray text */
}

p {
    font-size: 1.1em;
    line-height: 1.5;
    color: #3C5B6F;  /* Medium gray text */
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.call-to-action {
    text-align: center;
    background-color: #153448;  /* Light pink background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Soft shadow effect */
}

h2 {
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: #948979;  /* Dark gray text */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #3C5B6F;  /* Dark gray text */
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

a:hover {
    background-color: #DFD0B8;  /* Dark gray background on hover */
    color: #fff;  /* White text on hover */
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #153448;  /* Light pink background */
    color: #DFD0B8;  /* Dark gray text */
}

/* Add these styles to the existing stylesheet */
.open-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: #DFD0B8;
    cursor: pointer;
}


.sidebar {
    position: fixed;
    left: -450px; /* Initially hide the sidebar */
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #DFD0B8;
    padding: 20px;
    border-radius: 0 10px 10px 0; /* Rounded corners on the right side */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease; /* Smooth transition for opening and closing */
}

.sidebar.open {
    left: 0; /* Show the sidebar by moving it into view */
}

/* Add these styles to the existing stylesheet */
.close-btn {
    display: none; /* Hide the close button by default */
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: DFD0B8;
    cursor: pointer;
}

.sidebar.open .close-btn {
    display: block; /* Display the close button when the sidebar is open */
}
